<%= render "shared/nav_btn" %>
<div class="container" id="user-dash">
  <ul class="nav nav-pills">
    <li class="u-dash" role="presentation"><a href="#">Home</a></li>
    <li class="u-dash" role="presentation"><a href="#">Profile</a></li>
    <li class="u-dash" role="presentation"><a href="#">Messages</a></li>
  </ul>
</div>
