<%= render "shared/nav_btn" %>
<div class="container" id="user-dash">
  <% if current_user.provider? %>
    <ul class="nav nav-pills">
      <li class="u-dash" role="presentation" class="active"><a href="#">Feed</a></li>
      <li class="u-dash" role="presentation"><a href="#">Clients</a></li>
      <li class="u-dash" role="presentation"><a href="#">Settings</a></li>
    </ul>
  <% else %>
    <ul class="nav nav-pills">
      <li class="u-dash" role="presentation" class="active"><a href="#">Stats</a></li>
      <li class="u-dash" role="presentation"><a href="#">Progress</a></li>
      <li class="u-dash" role="presentation"><a href="#">Settings</a></li>
    </ul>
  <% end %>
</div>
