
<div class="jumbotron">
  <div class="welcome_header">
    <h1>Welcome</h1>
  </div>
</div>

<div class="start">
  <button type="button" class="btn btn-warning btn-lg" data-toggle="modal" data-target"#signup">Start</button>
  <br><br>
  <p>or</p>
  <%= link_to "Sign-in", "#", data: { toggle: "modal", target: "#signin" } %>
</div>
